# Global
.phpunit*
.composer
.github
composer.lock
package-lock.json
.phpunit.result.cache
.php-cs-fixer.cache
vendor/
tests/

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
